<%= simple_form_for @post, :html => {:multipart => true} do |f| %>
  
  <%= f.error_notification %>
  <div class="field">
      <%= f.input :title, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.input :content, class: 'form-control', :as => :text %>
  </div>
  <div class="field">
    <%= f.input :description, class: 'form-control', :as => :text %>
  </div>
  <div class="field">
    <%= f.input :ranking, collection: ['today','headline','local','headline local', 'sports', 'headline sports', 'record'] %>
  </div>
  <div class="actions">
    <%= f.label :photo %> 
    <%= f.file_field :photo, class: "white"  %>
  </div> 
   <div class="field">
    <%= f.input :caption, class: 'form-control' %>
  </div>
  <br />
  <div class="actions">
    <%= f.button :submit, :class => 'btn btn-custom' %>
  </div> 
<% end %>



