<% provide(:page_title, @post.title) %>

<div class="row">
	<div class=" col-md-8 col-sm-12">
		<h1 class="heavy"><%= @post.title %></h1>
		<h4 class="text-muted"><%= @post.description %></h4>
		<p class="date"><%= @post.day_published %></p>

		<%= social_share_button_tag(@post.title, image: @post.photo) %>
		<br />
		<div>
			<%= image_tag @post.photo, class: 'banner' %>
		</div>
		<br />
		<p class="date"><%= @post.caption %></p>
		<br />
		<p><%= simple_format(@post.content) %></p>
		<br /><br />
		<% if user_signed_in? %>
		<%= link_to 'Edit', edit_post_path(@post), class: 'white' %> | <%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm: "Are you sure?"}, class: 'white' %> 
		<% end %> 
		<br />
		<br />
	</div>
	<div class="col-sm-0 col-md-4 sidebarouter">
		<div class="col-md-11 col-md-push-1 sidebar">
			<div class="sidebar_head_container">
				<h4 class="sidebar_header text-center">Other Stories</h4>
			</div>
		<% @posts.each do |p| %>
			<a href='/posts/<%= p.slug %>'>
				<% if p.ranking == "today" && p.title != @post.title %>
				<div class="photo_div">
					<%= image_tag p.photo, class: "photo_small" %>
					<h5 class="white_green"><%= p.title %></h5>
				</div>
				<% end %>
			</a>
		<% end %>
		</div>
		<div class="col-md-11 col-md-push-1 sidebar2">
			<div class="sidebar_head_container">
				<h4 class="sidebar_header text-center">Local News</h4>
			</div>
				<% @sidebar.each do |s| %> 
					<a href='/posts/<%= p.slug %>'>
						<% if p.title != @post.title %>
							<div class="photo_div">
								<%= image_tag p.photo, class: "photo_small" %>
								<h5 class="white_green"><%= p.title %></h5>
							</div>
						<% end %>
					</a>
				<% end %>
		</div>
	</div>
</div>
