<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <title>DemDissent</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render 'layouts/nav' %>
    <br>
  	<div class="container">
    	<%= yield %>
    </div>
    <div class="footer">
    <p class="link">
      <a href="/posts" class="nav_link">Home</a> | <%= link_to "About", pages_about_path, class: 'nav_link' %> | <%= link_to "Contact", pages_contact_path, class: 'nav_link' %> | 
      <% if user_signed_in? %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'nav_link' %>
      <% else %> 
        <%= link_to "Admin", new_user_session_path, class: 'nav_link' %>
      <% end %>




      <p class="copyright">&copy; 2016 by DemDissent. All right reserved.</p>
      </p> 
    </div>
  </body>
</html>
