<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <title>SeaboltBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render 'layouts/nav' %>
    <br>
  	<div class="container">
    	<%= yield %>
    </div>
    <div class="footer">
    <p class="link">
      <a herf="/pages" class="nav_link">Home</a> | <a herf="#" class="nav_link">About</a> | <a herf="#" class="nav_link">Contact</a> 

      <p class="copyright">&copy; 2016 by DemDissent. All right reserved.</p>
      </p> 
    </div>
  </body>
</html>
